<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LasDelFondo The Game</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div class="header">
        <div class="logo-container">
          <img src="/images/87835.png">
        </div>
        <div class="title-container">
          <span>AvengerGram</span>
        </div>
    </div>
    <div class="maincontainer">  
	   {{#each posteo}}
        <div class="post">
          <div class="user">
            
          </div>
          <div class="imgcontainer">
            <img src={{this.foto}}/>
          </div>
          <div class="texto-container">  
            <img class="like" data-heart='{{this.id}}' src="/images/noliked.png">
            <span class="heart">{{this.likes}}</span>
            <span>{{this.nombre}}</span>
          </div>
        </div>  
      {{/each}}
    </div> 
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="javascripts/game.js"></script>
  </body>
</html>