<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>InstAvenger</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div class="uploader-container">
      <span class="uploadertitle">Sube tu Foto Gurl!!</span>
      <div class="data-container"> 
        <span>Titulo</span> 
        <input class="titulo" type="text">
        <span>Foto</span>
        <input class="img" type="text">
      </div>
      <div class="button-container">
        <a class="button upload" href="http://localhost:3000">
          Subir!
        </a>
        <a class="button volver" href="http://localhost:3000">
          
            Volver
          
        </a>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="javascripts/game.js"></script>
  </body>
</html>