$general-font: sans-serif;

@font-face {
  font-family: 'Avenge';
  src: url('../fonts/AVENGEANCE HEROIC AVENGER.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
  min-width: 100vw;
  min-height: 100vh;
  font-family: $general-font;
  font-size: 20px;
  color: #333;
}

.header{
	width: 100%;
	height: 60px;
	background-color: #ff1f21;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo-container{
	width: 40px;
	height: calc(100% - 20px);
	margin-left: 50px;
	margin-right: 500px;
}

.title-container{
	font-family: Avenge;
	font-size: 30px;
}
.maincontainer {
  width: 60%;
  height: auto;
  margin: auto;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post{
	width: 50%;
	height: 500px;
}

.imgcontainer{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.like{
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.texto-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.heart{
	margin-left: 20px;
	margin-right: 20px;
}

img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}